.footer {
  padding: 67px 0 60px;
  background-color: #000;
}

.footer__copyright {
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 925px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    line-height: 1.2;
  }
}
