.profile {
  padding-top: 36.25px;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.profile__container {
  display: grid;
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  align-items: center;
  gap: 16px 18px;
}

.profile__title {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  color: #fff;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  grid-area: button;
  border: 1px solid #fff;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__subtitle {
  margin: 0;
  color: #fff;
  grid-area: subtitle;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  border: 2px solid #fff;
  border-radius: 2%;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 925px) and (min-width: 820px) {
  .profile__image {
    margin-left: 27px;
  }

  .profile__add-button {
    margin-right: 27px;
  }
}

@media screen and (max-width: 820px) and (min-width: 715px) {
  .profile__image {
    margin-left: 27px;
  }

  .profile__add-button {
    margin-right: 27px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 715px) and (min-width: 620px) {
  .profile__container {
    grid-template-columns: minmax(auto, 284px) auto;
  }

  .profile__image {
    margin-left: 27px;
  }

  .profile__title {
    font-size: 32px;
    line-height: 1.2;
  }

  .profile__add-button {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 27px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    padding-top: 36.25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__container {
    padding-top: 26.25px;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 14px 10px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__subtitle {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 90%;
    height: 50px;
    max-width: 282px;
  }
}
