.modal {
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  background-color: white;
}

.modal__container_type_image {
  padding: 0;
  display: flex;
  background: none;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
}

.modal__container_type_delete {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 430px;
  height: 225px;
  padding: 0;
  border-radius: 10px;
}

.modal__close-button {
  background: transparent url(../images/close.svg) center no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  padding-top: 34px;
  padding-left: 36px;
  padding-bottom: 54px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__title-delete {
  margin: 0;
  padding-top: 34px;
  padding-left: 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 36px;
  gap: 12px;
  border: none;
}

.modal__input {
  margin-right: 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__error {
  visibility: none;
  opacity: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(255, 0, 0, 1);
}

.modal__error_visible {
  visibility: visible;
  opacity: 1;
}

.modal__save-button {
  margin-top: 45px;
  margin-bottom: 36px;
  height: 50px;
  width: 90%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
}

.modal__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__save-button_disabled:hover {
  opacity: 1;
  cursor: default;
}

.modal__save-button_disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__image {
  object-fit: cover;
  max-width: 100%;
}

.modal__caption {
  position: absolute;
  top: calc(100% + 10px);
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  .modal__title {
    padding-top: 25px;
    padding-left: 22px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
  }

  .modal__close-button {
    height: 26px;
    width: 26px;
    right: 5px;
    top: -46px;
  }

  .modal__form {
    padding-top: 75px;
    padding-left: 22px;
  }

  .modal__input {
    margin-right: 22px;
  }

  .modal__save-button {
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
}
